extends ./layout.pug

block content
	.jumbotron
		.container
			.page-header
				h1 About
			p Written by Sébastien Strebelle.
			p See the design #[a(href="/report")= "report"].
			p See on #[a(href="https://github.com/SebStreb/LocatIn")= "github"].
