doctype html

mixin table()
	.table-responsive
		table.table.table-striped
			thead
				tr
					each field in fields
						th #{field.name}
			tbody
				each result in results
					tr
						each value in result
							td #{value}

html
	head
		block head
			meta(charset="utf-8")
			link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
			link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
			script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
			script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
		block title
			title LocatIn | #{title}
	body
		block nav
			nav.navbar.navbar-inverse.navbar-fixed-top
				.container-fluid
					.navbar-header
						button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#collapse", aria-expanded="false")
							span.sr-only Toggle Navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.nav.navbar-brand(href="/") LocatIn
					.collapse.navbar-collapse#collapse
						ul.nav.navbar-nav.navleft
							li(class=(rel === 'Home') ? "active" : "notactive")
								a(href="/") #[span.glyphicon.glyphicon-home] Home
							li.dropdown(class=(user) ? "abled" : "disabled", class=(rel === 'Client') ? "active" : "notactive")
								a.dropdown-toggle(href="/client", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Client #[span.caret]
								ul.dropdown-menu
									li #[a(href="/client/inscription")= "Inscription"]
									li #[a(href="/client/reservation")= "Reservation"]
									li #[a(href="/client/departure")= "Departure"]
									li #[a(href="/client/return")= "Return"]
									li #[a(href="/client/payment")= "Payment"]
									li #[a(href="/client/fidelity")= "Fidelity"]
							li.dropdown(class=(user) ? "abled" : "disabled", class=(rel === 'Reports') ? "active" : "notactive")
								a.dropdown-toggle(href="/reports", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Reports #[span.caret]
								ul.dropdown-menu
									li #[a(href="/reports/catalog")= "Catalog"]
									li #[a(href="/reports/supply")= "Supply"]
									li #[a(href="/reports/reservations")= "Reservations"]
									li #[a(href="/reports/locations")= "Locations"]
									li #[a(href="/reports/history")= "History"]
							li.dropdown(class=(user === 'admin') ? "abled" : "disabled", class=(rel === 'Management') ? "active" : "notactive")
								a.dropdown-toggle(href="/management", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Management #[span.caret]
								ul.dropdown-menu
									li #[a(href="/management/vehicule")= "New vehicule"]
									li #[a(href="/management/rate")= "New rate"]
									li #[a(href="/management/rate-2")= "Change rate"]
									li #[a(href="/management/prices")= "Prices"]
									li #[a(href="/management/exec")= "SQL"]
							li(class=(rel === 'About') ? "active" : "notactive")
								a(href="/about") About #[span.glyphicon.glyphicon-info-sign]
						ul.nav.navbar-nav.navbar-right
							if user
								p.navbar-text #[span.glyphicon.glyphicon-user] Signed in as #{user}
								li
									a(href="/logout") Logout #[span.glyphicon.glyphicon-log-out]
							else
								li(class=(rel === 'Login') ? "active" : "notactive")
									a(href="/login") #[span.glyphicon.glyphicon-log-in] Login
		block content
		block foot
			footer.container.navbar-fixed-bottom
				p Website written by #[strong Sébastien Strebelle] for the course #[em LINGE1322 (Université Catholique de Louvain)]
