extends ./layout.pug

block content
	.container
		.page-header
			h1 Login
		form(role="form", method="post", action="/login")
			.form-group
				label(for="usr") Username
				input#usr.form-control(type="username", name="username", placeholder="Username")
			.form-group
				label(for="psw") Password
				input#psw.form-control(type="password", name="password", placeholder="Password")
			.form-group
				input.btn.btn-default(type="submit", value="Login")
