extends ./layout.pug

block content
	.container
		.page-header
			h1 Login
		.row
			.col-md-4
				p.text-center
					span.glyphicon.glyphicon-lock.glyphicon-form
					if message
						.alert.alert-danger Could not connect : #{message}
			.col-md-8
				form.form-horizontal(role="form", method="post", action="/login")
					.form-group
						label.control-label.col-sm-4(for="usr") Username :
						.col-sm-8
							input#usr.form-control(type="username", name="username", placeholder="Username")
					.form-group
						label.control-label.col-sm-4(for="psw") Password :
						.col-sm-8
							input#psw.form-control(type="password", name="password", placeholder="Password")
					.form-group
						.col-sm-offset-4.col-sm-8
							input.btn.btn-default(type="submit", value="Login")
