extends ../layout.pug

block content
	.container
		.page-header
			h1 Reports
		.list-group
			a.list-group-item(href="/management/vehicule") New vehicule
			a.list-group-item(href="/management/formule") Formule
			a.list-group-item(href="/management/prices") Prices
