extends ../layout.pug

block content
	.container
		.page-header
			h1 New vehicule
		.row
			.col-md-4
				p.text-center
					span.glyphicon.glyphicon-plus-sign.glyphicon-form
			.col-md-8
				form.form-horizontal(role="form", method="post", action="/management/vehicule-2")
					.form-group
						label.control-label.col-sm-4(for="brand") Brand :
						.col-sm-8
							input#brand.form-control(type="text", name="marque", placeholder="Brand")
					.form-group
						label.control-label.col-sm-4(for="breed") Breed :
						.col-sm-8
							input#breed.form-control(type="text", name="type", placeholder="Breed")
					.form-group
						label.control-label.col-sm-4(for="opt") Options :
						.col-sm-4
							select#opt.form-control(name="option")
								option(value="new") New Options
								each row in results1
									option(value=row.Code) #{row.Libelle}
						label.control-label.col-sm-2(for="tarif") Rate :
						.col-sm-2
							select#tarif.form-control(name="tarification")
								each row in results2
									option(value=row.code) #{row.Code}
					.form-group
						label.control-label.col-sm-4(for="nopt") New options :
						.col-sm-3
							input#nopt.form-control(type="text", name="code", placeholder="New option code")
						.col-md-5
							input#nopt.form-control(type="text", name="libelle", placeholder="New option label")
					.form-group
						.col-sm-offset-4.col-sm-4
							input.btn.btn-default(type="submit", value="Add")
						.col-sm-4
							a.btn.btn-default(href="/management/vehicule") Existing model
