h1 {
	text-align: center;
	color: #B5BBBD
}

h2 {
	text-align: center;
	color: #B5BBBD
}

h3 {
	text-align: center;
	color: #B5BBBD;
}

h4 {
	text-align: center;
	color: #B5BBBD;
}

p {
	color: #B5BBBD
}

a {
	color: #B5BBBD
}

body {
	background-color: #21292B;
	margin: 10% 20%;
}
