nav {
	letter-spacing: 3px;
}

.navbar-brand {
	font-size: 2em;
}

.navleft {
	font-size: 1.5em;
}

.jumbotron {
	background-color: #ddd;
}

body { padding-top: 50px; }

footer{
    background-color : #222;
    text-align : center;
    color : #eee;
    font-size : 1.3em;
	padding-top : 10px;
}

.glyphicon-form {
	color: #222;
	padding: 20px 125px;
	text-align : right;
	font-size: 10em;
}

form {
	padding: 50px 50px;
}
