extends ../layout.pug

block content
	.container
		.page-header
			h1 History
		.table-responsive
			table.table.table-striped
				thead
					tr
						each field in fields
							th #{field.name}
				tbody
					each result in results
						tr
							each value in result
								td #{value}
