extends ../layout.pug

block content
	.container
		.page-header
			h1 Client
		.list-group
			a.list-group-item(href="/client/inscription") Inscription
			a.list-group-item(href="/client/reservation") Reservation
			a.list-group-item(href="/client/departure") Departure
			a.list-group-item(href="/client/return") Return
			a.list-group-item(href="/client/payment") Payment
			a.list-group-item(href="/client/fidelity") Fidelity
